@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/retro-living-room-interior-design.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding: 20px 30px;
}

.navbar h2 {
  color: #fff;
  padding: 30px;
}

.phone {
  width: 35px;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid #fff;
  float: right;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-left: 0;
  font-weight: 700;
}

.list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  margin-left: 0;
}

.list-item {
  cursor: pointer;
  margin-left: 0;
  padding-right: 90px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

/* Section */
.left-side {
  margin-top: 60px;
  margin-left: 80px;
}

.icons {
  width: 30px;
  background-color: #fff;
}

svg {
  fill: #fff;
}

.left-side .heading {
  color: #fff;
  font-size: 60px;
  margin-bottom: 60px;
  width: 650px;
  font-weight: 700;
  line-height: 1.3;
}

.left-side button {
  color: #fff;
  background-color: transparent;
  padding: 15px 40px;
  border: 2px solid #fff;
  font-size: 18px;
  border-radius: 28px;
}

.right-side {
  float: right;
  position: relative;
}

.box-1, .box-2 {
  background-color: #ffffff2d; 
  position: absolute;
  padding: 30px 40px;
  color: #fff;
  
}

.rounded-bg {
  padding: 10px 40px;
  background-color: #fff;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 18px;
}

.box-1 {
  left: -400px;
  top: -260px;
}

.box-2 {
  left: -800px;
  top: 50px;
}

.line {
  width: 88px;
  background-color: #fff;
  position: absolute;
}

.line-1 {
  left: -280px;
  top: -40px;
  transform: rotate(90deg);
}

.line-2 {
  left: -457px;
  top: 140px;
}

.circle {
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
}

.circle-1 {
  top: 0px;
  left: -245px;
}

.circle-2 {
  left: -379px;
  top: 135px;
}



