@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/retro-living-room-interior-design.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 10px 50px;
}

h2 {
  color: #fff;
  padding: 30px;
}

.phone {
  width: 35px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.lists {
  border-bottom: 2px solid #fff;
  width: 60%;
  float: right;
}

.lists ul li {
  list-style-type: none;
  color: #fff;
  padding: 30px 30px;
  cursor: pointer;
}

.list-item:first-child {
  margin-left: 0;
}

.lists, .lists ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -50px;
  padding-right: 40px;
  margin-bottom: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  margin-top: -30px;
  margin-bottom: 30px;
  margin-right: 0;
  cursor: pointer;
}

